@using FA.JustBlog.ViewModels.Posts
@model DetailsPostViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content container-fluid">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Chi tiết tin tức</h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form method="post" action="@Url.Action("Details", "ManagePost")" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>Tiêu đề</label>:
                            @Model.Title
                        </div>
                        <div class="form-group">
                            <label>Url Slug</label>:
                            @Model.UrlSlug
                        </div>
                        <div class="form-group">
                            <label for="">Mô tả ngắn</label>:
                            @Model.ShortDescription
                        </div>
                        <div class="form-group">
                            <label for="">Mô tả chi tiết</label>:
                            @Html.Raw(Model.PostContent)
                        </div>
                        <div class="form-group">
                            <label for="">View Count</label>:
                            @Model.ViewCount
                        </div>
                        <div class="form-group">
                            <label for="">Rate</label>:
                            @Model.Rate
                        </div>
                        <div class="form-group">
                            <label for="">Ngày tạo</label>:
                            @Model.CreatedOn
                        </div>
                        <div class="form-group">
                            <label for="">Ngày cập nhật</label>:
                            @Model.UpdatedOn
                        </div>
                        <div class="mt-4">
                            <a href="@Url.Action("Index","ManagePost")" class="btn btn-link">Quay lại trang chủ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}


